<div class="container">
    <div class="row" style="padding: 6vmax 0">
        <div class="col-sm-9">
            <h4 class="font-weight-light">UX/UI Designer</h4>
            <h1>
                Hi, I’m Rebecca.
            </h1>
            <h4 class="font-weight-light">I am passionate about creating human-centred design
                and solving problems with Art, Digital media and Electric
                engineering background.</h4>
        </div>
    </div>
</div>

<div class="container-fluid">
    <app-work></app-work>
</div>