<!-- Footer -->
<footer class="page-footer">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Grid row-->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-12 py-5 text-center">
          
            <a class="underline" href="mailto:rebeccasong7@gmail.com">rebeccasong7@gmail.com</a>
            <br><br>
            <!--Linkedin -->
            <a href="http://www.linkedin.com/in/rebecca-song-22b13495" target="_blank" rel="noopener">
              <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3"> </i>
            </a>
            <!--Instagram-->
            <a href="#">
              <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3"> </i>
            </a>
        
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
  
  </footer>
  <!-- Footer -->